<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp | CLONE</title>
    <link rel="icon" href="./assets/images/favicon.png" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="./src/app.css">
</head>

<body ng-app="waClone" ng-controller="mainController">
    <div class="wa-bg-top-solid-banner">&nbsp;</div>
    <div class="wa-main-parent-panel">
        <div class="wa-main-panel">
            <div class="wa-left-panel">
                <div class="wa-full-width wa-flex-col">
                    <div class="wa-chat-list-header">
                        <div class="wa-chat-list-header-image">
                            <img src="./assets/images/pp.jpeg" alt="" srcset="">
                        </div>
                        <div class="wa-chat-list-header-icon">
                            <img src="./assets/images/status-icon.svg" />
                        </div>
                        <div class="wa-chat-list-header-icon">
                            <img src="./assets/images/chat-icon.svg" />
                        </div>
                        <div class="wa-chat-list-header-icon">
                            <img src="./assets/images/more-vert-icon.svg" />
                        </div>
                    </div>
                    <chat-search query="searchChat"></chat-search>
                    <div class="wa-chat-list wa-full-flex wa-scroll-y">
                        <chat-list-item ng-repeat="contact in contacts | filter:searchChat"
                            ng-click="selectContact($index)" contact="contact"
                            is-selected="selectedContact === $index" />
                    </div>
                </div>
            </div>
            <div class="wa-chat-panel">&nbsp;</div>
        </div>
    </div>
    <script src="./libs/angular.min.js"></script>
    <script src="./src/app.js"></script>
    <script src="./src/components/chat-list-items/chat-list-items.js"></script>
    <script src="./src/components/chat-search/chat-search.js"></script>
</body>

</html>