<div class="wa-chat-list-item wa-flex-row" ng-class="{'wa-selected': vm.isSelected}">
    <img ng-src="{{vm.contact.image}}" class="wa-chat-list-item-image" alt="" srcset="">
    <div class="wa-contact-main wa-full-flex">
        <div class="wa-flex-row">
            <div class="wa-chat-list-item-title wa-full-flex">
                {{vm.contact.name}}
            </div>
            <div style="color: #00000073; font-size: 12px">
                {{vm.contact.lastMessageTime}}
            </div>
        </div>
        <div class="wa-flex-row" style="height: 23px;">
            <div class="wa-chat-list-item-content wa-full-flex">
                {{vm.contact.lastMessage}}
            </div>
            <div ng-if="vm.contact.unread" class="wa-unread-badge">
                <span class="wa-unread-count">
                    {{vm.contact.unread}}
                </span>
            </div>
        </div>
    </div>
</div>